@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Fade effect */
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-in-top {
  opacity: 0;
  transform: translateY(0);
}


/* menu  */
.menu-icon {
  display: inline-block;
  vertical-align: middle;
}

/* Icons CSS --linkedin,github */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.icon {
  font-size: 60px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.linkedin-icon:hover,
.github-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 10px rgba(0, 128, 255, 0.7));
}


/* Resume button animation */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

.background-img { 
    background: url(https://res.cloudinary.com/damqsjjsn/image/upload/v1641672204/landscapewLight_wdbhno.png)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200vh;
}

#wrap {
  text-align: center; 
  z-index: 10;
  }

.btn-slide { 
    position: relative;
    display: inline-block; 
    height: 50px;
    width: 260px;
    line-height: 50px;
    margin: 25px 0;
    padding: 0px;
    border-radius: 25px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,0.7);
    background: linear-gradient(135deg, #2dd4bf 0%,#e3e5e9 100%);
        }
        
.btn-slide:active { 
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0,0.7);
    -webkit-transform: scale(0.98);
    transform: scale(0.96); }
    
.btn-slide:hover { 
    background: linear-gradient(-135deg, #2dd4bf 0%,#e3e5e9 100%); }
        
.btn-slide span.circle { 
    display: block;
    background-color: #fff;
    color: #2dd4bf;
    position: absolute;
    margin: 5px;
    height: 40px; 
    width: 40px;
    top: 0; left: 0;
    border-radius: 50%;
    transition: all 1.5s ease;
 }
        
.btn-slide:hover span.circle { 
    left: 100%;
    margin-left: -45px;
    background-color: #fff;
    color: #e3e5e9; }
        
.btn-slide span.title { 
  font-family: monospace, monospace;
    position: absolute;
    left: 85px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    transition: all 1.5s linear; 
 }
        
.btn-slide span.title-hover { opacity: 0;}
.btn-slide:hover span.title { opacity: 0; }
.btn-slide:hover span.title-hover { opacity: 1; left: 60px; }   

